.hero {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;

  background-size: 100% auto;
  background-color: $back-grey;
  background-image: url(../images/hero/hero-mobile.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/hero-mobile@2x.jpg);
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 118px 0;
    background-image: url(../images/hero/hero-mobile.jpg);
    width: 480px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-mobile@2x.jpg);
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 768px;
    padding: 118px 0;
    background-image: url(../images/hero/hero-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-tablet@2x.jpg);
    }
  }
  @media screen and (min-width: $desktop) {
    
    min-width: 1200px;
    padding: 200px 0;
    margin: 0 auto;
    background-image: url(../images/hero/hero-desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-desktop@2x.jpg);
      background-size: cover;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:hover .hero__overlay {
    background-color: rgba(47, 48, 58, 0.4);
  }

  &__title {
    position: relative;
    margin: 0 0 30px 0;

    color: $text-white;
    font-weight: 900;
    letter-spacing: 0.06em;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-transform: uppercase;
    z-index: 1;
    @media screen and (min-width: $premobile) and (max-width: 767px) {
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
    }
    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__btn {
    position: relative;
    padding: 10px 24px;

    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: background-color $animation-duration $animation-timing-function;
    z-index: 1;
    @media screen and (min-width: $premobile) and (max-width: 767px) {
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
    }
    @media screen and (min-width: $desktop) {
      padding: 10px 32px;

      line-height: 1.88;
      letter-spacing: 0.06em;
    }
  }

  &__btn:active {
    background-color: #188ce8;
  }
}
