.header {
  &__container {
    padding: 0 15px;
    margin: 0 auto;

    outline: 1px solid lightgreen;

    @media screen and (min-width: $mobile) and (max-width: 767px) {
      position: relative;
      width: 480px;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      display: flex;
      width: 768px;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      width: 1200px;
    }
  }

  &__logo {
    color: $text-main;
    @media screen and (min-width: $mobile) and (max-width: 767px) {
      display: block;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-left: auto;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      padding-top: 26px;
      padding-bottom: 26px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 25px;

      color: $text-black;
    }
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 24px;
  line-height: calc(28 / 24);

  @media screen and (min-width: $mobile) and (max-width: 767px) {
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
  }
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: calc(28 / 26);
  }

  &--text-blue {
    color: $activity-blue;
  }
}

.menu {
  margin-right: auto;
  margin-left: auto;
  &__list {
    display: flex;
    gap: 50px;
    @media screen and (min-width: $mobile) and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__btn {
    @media screen and (min-width: $mobile) and (max-width: 767px) {
      position: absolute;
      top: 10px;
      right: 15px;
      border: none;
      background-color: transparent;

    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      display: none;
    }
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}

.menu__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  transition: color var(--animation-duration) var(--animation-timing-function);
  @media screen and (min-width: $mobile) and (max-width: 767px) {
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
  }
  @media screen and (min-width: $desktop) {
  }

  &:hover,
  &:focus {
    color: $activity-blue;
  }
}

.menu__link-active {
  color: $activity-blue;
  @media screen and (min-width: $mobile) and (max-width: 767px) {
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
  }
  @media screen and (min-width: $desktop) {
  }

  &::after {
    display: block;
    content: " ";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $activity-blue;
    border-radius: 2px;
  }
}

.contact {
  &__list {
    @media screen and (min-width: $mobile) and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      gap: 30px;
    }
  }

  &__item {
    @media screen and (min-width: $mobile) and (max-width: 767px) {
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $text-grey;
    transition: color $animation-duration $animation-timing-function;
    @media screen and (min-width: $mobile) and (max-width: 767px) {
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      font-size: 12px;
      line-height: calc(14 / 12);
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;

      font-size: 14px;
      line-height: 1.14;
    }
  }

  &__icon {
    fill: currentColor;
    width: 14px;
    height: 10px;
    @media screen and (min-width: $mobile) and (max-width: 767px) {
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-right: 8px;
    }
    @media screen and (min-width: $desktop) {
      width: 16px;
      height: 12px;

      margin-right: 10px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $activity-blue;
  }
}
