.header {
  &__container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: $premobile) and (max-width: 767px) {
      position: relative;
      width: 480px;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      display: flex;
      width: 768px;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      width: 1200px;
    }
  }

  &__logo {
    color: $text-main;
    @media screen and (min-width: $premobile) and (max-width: 767px) {
      display: block;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-left: auto;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      padding-top: 26px;
      padding-bottom: 26px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 25px;

      color: $text-black;
    }
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 24px;
  line-height: calc(28 / 24);

  @media screen and (min-width: $premobile) and (max-width: 767px) {
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
  }
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: calc(28 / 26);
  }

  &--text-blue {
    color: $activity-blue;
  }
}

.menu {
  margin-right: auto;
  margin-left: auto;
  &__list {
    display: flex;
    gap: 50px;
    @media screen and (min-width: $premobile) and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__btn {
    @media screen and (min-width: $premobile) and (max-width: 767px) {
      position: absolute;
      top: 10px;
      right: 15px;
      border: none;
      background-color: transparent;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      display: none;
    }
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}

.menu__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  transition: color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    color: $activity-blue;
  }
}

.menu__link-active {
  color: $activity-blue;

  &::after {
    display: block;
    content: " ";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $activity-blue;
    border-radius: 2px;
    @media screen and (min-width: $premobile) and (max-width: 767px) {
      display: none;
    }
  }
}

.contact {
  &__list {
    @media screen and (min-width: $premobile) and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      gap: 30px;
    }
  }

  &__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $text-grey;
    transition: color $animation-duration $animation-timing-function;
    @media screen and (min-width: $premobile) and (max-width: 767px) {
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      font-size: 12px;
      line-height: calc(14 / 12);
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;

      font-size: 14px;
      line-height: 1.14;
    }
  }

  &__icon {
    fill: currentColor;
    width: 14px;
    height: 10px;
    @media screen and (min-width: $premobile) and (max-width: 767px) {
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-right: 8px;
    }
    @media screen and (min-width: $desktop) {
      width: 16px;
      height: 12px;

      margin-right: 10px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $activity-blue;
  }
}

.menu-box {
  @media screen and (min-width: $premobile) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 1px solid khaki;
    font-weight: 500;
    letter-spacing: 0.02em;

    position: fixed;
    background-color: $text-white;
    color: $text-main;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;

    padding: 48px 40px;
    transform: translateX(150%);
    transition: transform $animation-duration $animation-timing-function;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }

  &__list {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;

    color: $text-main;
  }
  &__item {
    margin-bottom: 37px;
  }
  &__link {
    color: inherit;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__tel {
    display: inline-block;
    margin-bottom: 32px;

    font-size: 34px;
    line-height: calc(40 / 34);

    color: $activity-blue;
  }

  &__mail {
    display: inline-block;
    margin-bottom: 64px;

    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;

    color: $text-grey;
  }
}

.menu-box.is-open {
  transform: translateX(0);
}

.menu__link-active {
  color: $activity-blue;
}

.box-social {
  display: flex;
  gap: 10px;
  margin-top: auto;
  margin-bottom: 0;

  &__item {
    padding-right: 10px;
  }

  &__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);

    letter-spacing: 0.02em;

    color: $activity-blue;
  }
}

.box {
  &__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 15px;

    transition: fill $animation-duration $animation-timing-function;
    background-color: transparent;
    border: none;
  }
  &__close-btn:active {
    fill: $activity-blue;
  }
}
