$text-main: #212121;
$back-grey: #2f303a;
$back-lgrey: #f5f4fa;
$activity-blue: #2196f3;
$text-grey: #757575;
$text-white: #ffffff;
$text-black: #000;
$icon-grey: #afb1b8;

$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);